# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# jupyter nbextension enable --py gmaps

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# The path to our CSV file
file = "../../PartI-WeatherPy/starter_code/output.csv"

# Read our Kickstarter data into pandas
cities_df = pd.read_csv(file)
print(cities_df.info())
cities_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 10 columns):
Unnamed: 0    557 non-null int64
City          557 non-null object
Country       553 non-null object
Cloudiness    557 non-null int64
Date          557 non-null int64
Humidity      557 non-null int64
Lat           557 non-null float64
Lng           557 non-null float64
Max Temp      557 non-null float64
Wind Speed    557 non-null float64
dtypes: float64(4), int64(4), object(2)
memory usage: 43.6+ KB
None

,Unnamed: 0,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Rikitea,PF,22,1579934964,77,-23.12,-134.97,78.35,14.85
1,1,Ushuaia,AR,75,1579935224,93,-54.80,-68.30,46.40,3.02
2,2,Saint-Augustin,CA,6,1579935260,74,51.23,-58.65,4.91,10.83
3,3,Carnarvon,AU,0,1579934968,62,-24.87,113.63,87.80,21.92
4,4,Along,IN,0,1579935260,33,28.17,94.77,63.82,1.48

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

# Store humidity as the weight and convert to float
weight = cities_df["Humidity"].astype(float)

In [14]:
# Setting the zoom level and map center explicitly:
new_york_coordinates = (40.75, -74.00)

# Plot Heatmap
fig = gmaps.figure(center=new_york_coordinates, zoom_level=3)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# make the heatmap transparent
heat_layer.opacity = 0.4

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Setting the zoom level and map center explicitly:
new_york_coordinates = (40.75, -74.00)

# Plot Heatmap as a Hybrid map
fig = gmaps.figure(center=new_york_coordinates, zoom_level=2, map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
# make the heatmap transparent
heat_layer.opacity = 0.4 

# Add layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [60]:
cities_df = cities_df.dropna()
cities_df.count()

Unnamed: 0    553
City          553
Country       553
Cloudiness    553
Date          553
Humidity      553
Lat           553
Lng           553
Max Temp      553
Wind Speed    553
dtype: int64

In [61]:
# A max temperature lower than 80 degrees but higher than 75
vacation_destinations_temp_df = cities_df[(cities_df['Max Temp'] < 80.00) & (cities_df['Max Temp'] > 70.00)]
print(vacation_destinations_temp_df.count())
vacation_destinations_temp_df.head()

Unnamed: 0    129
City          129
Country       129
Cloudiness    129
Date          129
Humidity      129
Lat           129
Lng           129
Max Temp      129
Wind Speed    129
dtype: int64

,Unnamed: 0,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Rikitea,PF,22,1579934964,77,-23.12,-134.97,78.35,14.85
12,12,Bengkulu,ID,100,1579935145,91,-3.80,102.27,76.78,1.14
18,18,Mossamedes,AO,86,1579935097,73,-15.20,12.15,74.66,7.23
23,23,Sinnamary,GF,39,1579935098,84,5.38,-52.95,78.82,14.92
25,25,Hobart,AU,75,1579934850,38,-42.88,147.33,77.00,14.99

In [63]:
# Wind speed less than 10 mph
vacation_destinations_temp_wind_df = vacation_destinations_temp_df[vacation_destinations_temp_df['Wind Speed'] <= 10.00]
vacation_destinations_temp_wind_df.count()

Unnamed: 0    94
City          94
Country       94
Cloudiness    94
Date          94
Humidity      94
Lat           94
Lng           94
Max Temp      94
Wind Speed    94
dtype: int64

In [65]:
# Zero cloudiness
vacation_destinations_temp_wind_cloud_df = vacation_destinations_temp_wind_df[vacation_destinations_temp_wind_df['Cloudiness'] == 0.00]
print(vacation_destinations_temp_wind_cloud_df.count())
vacation_destinations_temp_wind_cloud_df

Unnamed: 0    10
City          10
Country       10
Cloudiness    10
Date          10
Humidity      10
Lat           10
Lng           10
Max Temp      10
Wind Speed    10
dtype: int64

,Unnamed: 0,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
126,126,Kaeo,NZ,0,1579934824,70,-35.10,173.78,78.01,8.08
168,168,Copiapo,CL,0,1579935121,60,-27.37,-70.33,71.60,9.17
188,188,Tura,IN,0,1579934865,36,25.52,90.22,72.73,4.12
226,226,Jati,PK,0,1579935132,23,24.35,68.27,78.24,3.67
234,234,Myitkyina,MM,0,1579935133,31,25.38,97.40,73.83,2.28
319,319,Mattru,SL,0,1579935147,95,7.62,-11.83,71.35,2.04
326,326,Plettenberg Bay,ZA,0,1579935148,72,-34.05,23.37,71.85,4.36
406,406,Sarankhola,BD,0,1579935161,24,22.31,89.79,74.73,8.37
460,460,Young,UY,0,1579935170,76,-32.68,-57.63,73.00,5.41
542,542,Jaisalmer,IN,0,1579935184,23,26.91,70.92,73.47,7.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map